@import "reset.css";
@import "variables.css";

/* Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens */
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2f363e;
}
